<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-sysAttendance-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">考勤编号：</label>
				<div class="col-sm-8">
					<input id="attendanceNo" name="attendanceNo" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">考勤名称：</label>
				<div class="col-sm-8">
					<input id="attendanceName" name="attendanceName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">下班打卡时间：</label>
				<div class="col-sm-8">
					<input id="clockEndTime" name="clockEndTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">上班打卡时间：</label>
				<div class="col-sm-8">
					<input id="clockStartTime" name="clockStartTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">项目编号：</label>
				<div class="col-sm-8">
					<input id="projectNumber" name="projectNumber" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">餐补：</label>
				<div class="col-sm-8">
					<input id="subsidizedMeals" name="subsidizedMeals" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">交通补助：</label>
				<div class="col-sm-8">
					<input id="traffic" name="traffic" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">调休：</label>
				<div class="col-sm-8">
					<input id="paidLeave" name="paidLeave" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">用户id：</label>
				<div class="col-sm-8">
					<input id="userId" name="userId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">考勤名称：</label>
				<div class="col-sm-8">
					<input id="userName" name="userName" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "business/sysAttendance"
		$("#form-sysAttendance-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-sysAttendance-add').serialize());
	        }
	    }
	</script>
</body>
</html>
