<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/datapicker/datepicker3.css}" rel="stylesheet"/>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-sysAttendance-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">项目编号：</label>
            <div class="col-sm-8">
                <input id="projectNumber" name="projectNumber" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/datapicker/bootstrap-datepicker.js}"></script>
<script>
    $(".input-group.date").datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        todayBtn: "linked",
        keyboardNavigation: !1,
        forceParse: !1,
        calendarWeeks: !0,
    });
</script>
<script type="text/javascript">
    var prefix = ctx + "business/sysAttendance"
    $("#form-sysAttendance-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/daka", $('#form-sysAttendance-add').serialize());
        }
    }
</script>
</body>
</html>
